{% extends 'diary/base.html' %}
{% block content %}
<h2>My Diaries</h2>

{% for diary in diaries %}
    <div>
        <h3>{{ diary.title }}</h3>
        <p>{{ diary.content|truncatewords:20 }}</p>
        <small>Created at: {{ diary.created_at }}</small><br>
        <small>Mood: {{diary.sentiment|capfirst }}</small><br>
        <a href="{% url 'diary_detail' diary.id %}">View</a> |
        <a href="{% url 'edit_diary' diary.id %}">Edit</a> |
        <a href="{% url 'delete_diary' diary.id %}">Delete</a>
    </div>
    <hr>
{% empty %}
    <p>No diary entries yet. <a href="{% url 'create_diary' %}">Create one!</a></p>
{% endfor %}

<a href="{% url 'create_diary' %}">Add New Diary</a>
{% endblock %}
