{% extends 'diary/base.html' %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="login-body">
  <div class="login-wrapper">
    <div class="login-card shadow">
      <h2 class="text-center mb-4">Welcome Back 👋</h2>
      <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input type="text" name="username" class="form-control" id="username" placeholder="Enter username" required>
        </div>

        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <div class="input-group">
            <input type="password" name="password" class="form-control" id="password" placeholder="Enter password" required>
            <span class="input-group-text toggle-password">
              <i class="fa-solid fa-eye"></i>
            </span>
          </div>
        </div>

        <div class="d-grid mt-4">
          <button type="submit" class="btn btn-primary">Login</button>
        </div>

        <div class="text-end mt-2">
          <a href="{% url 'forgot_password' %}" class="link-secondary small">Forgot Password?</a>
        </div>

        <div class="text-center mt-3">
          <span class="small">Don't have an account?</span>
          <a href="{% url 'signup' %}" class="link-primary fw-bold">Sign up</a>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}