{% extends 'diary/base.html' %}
{% block content %}
<div class="container mt-5">
    <h3>Reset Password</h3>
    <form method="POST">
        {% csrf_token %}
        <input type="password" name="password" placeholder="New Password" class="form-control" required>
        <input type="password" name="confirm_password" placeholder="Confirm Password" class="form-control mt-2" required>
        <button type="submit" class="btn btn-success mt-3">Reset Password</button>
    </form>
</div>
{% endblock %}
